In [1]:
#Load Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import ticker 
import folium 
import seaborn as sns 
import pycountry_convert as pyc

In [2]:
#Read in dataset by countries 
covid19_country = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")

covid19_country.head()

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-01 22:04:58,-25.0000,133.0000,4862,20,422,4420
1,Austria,2020-04-01 21:58:34,47.5162,14.5501,10711,146,1436,9129
2,Canada,2020-04-01 22:04:44,60.0010,-95.0010,9560,109,1324,0
3,China,2020-04-01 14:00:34,30.5928,114.3055,82361,3316,76405,2640
4,Denmark,2020-04-01 21:58:34,56.0000,10.0000,3290,104,971,2215

In [3]:
covid19_country.dtypes

Country_Region     object
Last_Update        object
Lat               float64
Long_             float64
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
dtype: object

In [4]:
#Read the data files 

confirmed_df = pd.read_csv('Resources/time_series_covid19_confirmed_global.csv')
death_df = pd.read_csv('Resources/time_series_covid19_deaths_global.csv')
recovered_df = pd.read_csv('Resources/time_series_covid19_recovered_global.csv')

#Examine the head of each file 
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,40,40,74,84,94,110,110,120,170,174
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,89,104,123,146,174,186,197,212,223,243
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,201,230,264,302,367,409,454,511,584,716
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,113,133,164,188,224,267,308,334,370,376
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,3,3,3,4,4,5,7,7,7

In [5]:
death_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1,1,1,2,4,4,4,4,4,4
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,4,5,5,6,8,10,10,11,15
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,17,17,19,21,25,26,29,31,35,44
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,1,1,3,3,3,6,8,12
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2

In [6]:
recovered_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,2,5
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,2,10,17,17,31,31,33,44,52
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,65,65,24,65,29,29,31,31,37,46
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,10,10
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
confirmed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 74 columns):
Province/State    79 non-null object
Country/Region    256 non-null object
Lat               256 non-null float64
Long              256 non-null float64
1/22/20           256 non-null int64
1/23/20           256 non-null int64
1/24/20           256 non-null int64
1/25/20           256 non-null int64
1/26/20           256 non-null int64
1/27/20           256 non-null int64
1/28/20           256 non-null int64
1/29/20           256 non-null int64
1/30/20           256 non-null int64
1/31/20           256 non-null int64
2/1/20            256 non-null int64
2/2/20            256 non-null int64
2/3/20            256 non-null int64
2/4/20            256 non-null int64
2/5/20            256 non-null int64
2/6/20            256 non-null int64
2/7/20            256 non-null int64
2/8/20            256 non-null int64
2/9/20            256 non-null int64
2/10/20           256 non-null int64
2/11/20           256 non-null int64
2/12/20           256 non-null int64
2/13/20           256 non-null int64
2/14/20           256 non-null int64
2/15/20           256 non-null int64
2/16/20           256 non-null int64
2/17/20           256 non-null int64
2/18/20           256 non-null int64
2/19/20           256 non-null int64
2/20/20           256 non-null int64
2/21/20           256 non-null int64
2/22/20           256 non-null int64
2/23/20           256 non-null int64
2/24/20           256 non-null int64
2/25/20           256 non-null int64
2/26/20           256 non-null int64
2/27/20           256 non-null int64
2/28/20           256 non-null int64
2/29/20           256 non-null int64
3/1/20            256 non-null int64
3/2/20            256 non-null int64
3/3/20            256 non-null int64
3/4/20            256 non-null int64
3/5/20            256 non-null int64
3/6/20            256 non-null int64
3/7/20            256 non-null int64
3/8/20            256 non-null int64
3/9/20            256 non-null int64
3/10/20           256 non-null int64
3/11/20           256 non-null int64
3/12/20           256 non-null int64
3/13/20           256 non-null int64
3/14/20           256 non-null int64
3/15/20           256 non-null int64
3/16/20           256 non-null int64
3/17/20           256 non-null int64
3/18/20           256 non-null int64
3/19/20           256 non-null int64
3/20/20           256 non-null int64
3/21/20           256 non-null int64
3/22/20           256 non-null int64
3/23/20           256 non-null int64
3/24/20           256 non-null int64
3/25/20           256 non-null int64
3/26/20           256 non-null int64
3/27/20           256 non-null int64
3/28/20           256 non-null int64
3/29/20           256 non-null int64
3/30/20           256 non-null int64
3/31/20           256 non-null int64
dtypes: float64(2), int64(70), object(2)
memory usage: 148.1+ KB

In [8]:
death_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 74 columns):
Province/State    79 non-null object
Country/Region    256 non-null object
Lat               256 non-null float64
Long              256 non-null float64
1/22/20           256 non-null int64
1/23/20           256 non-null int64
1/24/20           256 non-null int64
1/25/20           256 non-null int64
1/26/20           256 non-null int64
1/27/20           256 non-null int64
1/28/20           256 non-null int64
1/29/20           256 non-null int64
1/30/20           256 non-null int64
1/31/20           256 non-null int64
2/1/20            256 non-null int64
2/2/20            256 non-null int64
2/3/20            256 non-null int64
2/4/20            256 non-null int64
2/5/20            256 non-null int64
2/6/20            256 non-null int64
2/7/20            256 non-null int64
2/8/20            256 non-null int64
2/9/20            256 non-null int64
2/10/20           256 non-null int64
2/11/20           256 non-null int64
2/12/20           256 non-null int64
2/13/20           256 non-null int64
2/14/20           256 non-null int64
2/15/20           256 non-null int64
2/16/20           256 non-null int64
2/17/20           256 non-null int64
2/18/20           256 non-null int64
2/19/20           256 non-null int64
2/20/20           256 non-null int64
2/21/20           256 non-null int64
2/22/20           256 non-null int64
2/23/20           256 non-null int64
2/24/20           256 non-null int64
2/25/20           256 non-null int64
2/26/20           256 non-null int64
2/27/20           256 non-null int64
2/28/20           256 non-null int64
2/29/20           256 non-null int64
3/1/20            256 non-null int64
3/2/20            256 non-null int64
3/3/20            256 non-null int64
3/4/20            256 non-null int64
3/5/20            256 non-null int64
3/6/20            256 non-null int64
3/7/20            256 non-null int64
3/8/20            256 non-null int64
3/9/20            256 non-null int64
3/10/20           256 non-null int64
3/11/20           256 non-null int64
3/12/20           256 non-null int64
3/13/20           256 non-null int64
3/14/20           256 non-null int64
3/15/20           256 non-null int64
3/16/20           256 non-null int64
3/17/20           256 non-null int64
3/18/20           256 non-null int64
3/19/20           256 non-null int64
3/20/20           256 non-null int64
3/21/20           256 non-null int64
3/22/20           256 non-null int64
3/23/20           256 non-null int64
3/24/20           256 non-null int64
3/25/20           256 non-null int64
3/26/20           256 non-null int64
3/27/20           256 non-null int64
3/28/20           256 non-null int64
3/29/20           256 non-null int64
3/30/20           256 non-null int64
3/31/20           256 non-null int64
dtypes: float64(2), int64(70), object(2)
memory usage: 148.1+ KB

In [9]:
recovered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 74 columns):
Province/State    64 non-null object
Country/Region    242 non-null object
Lat               242 non-null float64
Long              242 non-null float64
1/22/20           242 non-null int64
1/23/20           242 non-null int64
1/24/20           242 non-null int64
1/25/20           242 non-null int64
1/26/20           242 non-null int64
1/27/20           242 non-null int64
1/28/20           242 non-null int64
1/29/20           242 non-null int64
1/30/20           242 non-null int64
1/31/20           242 non-null int64
2/1/20            242 non-null int64
2/2/20            242 non-null int64
2/3/20            242 non-null int64
2/4/20            242 non-null int64
2/5/20            242 non-null int64
2/6/20            242 non-null int64
2/7/20            242 non-null int64
2/8/20            242 non-null int64
2/9/20            242 non-null int64
2/10/20           242 non-null int64
2/11/20           242 non-null int64
2/12/20           242 non-null int64
2/13/20           242 non-null int64
2/14/20           242 non-null int64
2/15/20           242 non-null int64
2/16/20           242 non-null int64
2/17/20           242 non-null int64
2/18/20           242 non-null int64
2/19/20           242 non-null int64
2/20/20           242 non-null int64
2/21/20           242 non-null int64
2/22/20           242 non-null int64
2/23/20           242 non-null int64
2/24/20           242 non-null int64
2/25/20           242 non-null int64
2/26/20           242 non-null int64
2/27/20           242 non-null int64
2/28/20           242 non-null int64
2/29/20           242 non-null int64
3/1/20            242 non-null int64
3/2/20            242 non-null int64
3/3/20            242 non-null int64
3/4/20            242 non-null int64
3/5/20            242 non-null int64
3/6/20            242 non-null int64
3/7/20            242 non-null int64
3/8/20            242 non-null int64
3/9/20            242 non-null int64
3/10/20           242 non-null int64
3/11/20           242 non-null int64
3/12/20           242 non-null int64
3/13/20           242 non-null int64
3/14/20           242 non-null int64
3/15/20           242 non-null int64
3/16/20           242 non-null int64
3/17/20           242 non-null int64
3/18/20           242 non-null int64
3/19/20           242 non-null int64
3/20/20           242 non-null int64
3/21/20           242 non-null int64
3/22/20           242 non-null int64
3/23/20           242 non-null int64
3/24/20           242 non-null int64
3/25/20           242 non-null int64
3/26/20           242 non-null int64
3/27/20           242 non-null int64
3/28/20           242 non-null int64
3/29/20           242 non-null int64
3/30/20           242 non-null int64
3/31/20           242 non-null int64
dtypes: float64(2), int64(70), object(2)
memory usage: 140.0+ KB

# Data Preprocessing

In [10]:
# Let rename the columns for consistency
confirmed_df = confirmed_df.rename(columns={'Province/State': 'State',
                                            'Country/Region': 'Country'})
death_df = death_df.rename(columns={'Province/State': 'State',
                                            'Country/Region': 'Country'})

covid19_country = covid19_country.rename(columns={'Country_Region': 'Country'})

In [11]:
#Some values were not calculated in the Active column

covid19_country['Active'] = covid19_country['Confirmed'] - covid19_country['Deaths']- covid19_country['Recovered']
covid19_country.head()

,Country,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-01 22:04:58,-25.0000,133.0000,4862,20,422,4420
1,Austria,2020-04-01 21:58:34,47.5162,14.5501,10711,146,1436,9129
2,Canada,2020-04-01 22:04:44,60.0010,-95.0010,9560,109,1324,8127
3,China,2020-04-01 14:00:34,30.5928,114.3055,82361,3316,76405,2640
4,Denmark,2020-04-01 21:58:34,56.0000,10.0000,3290,104,971,2215

In [12]:
#Examined the data to find inconsistencies in several country names. Need to modify fit the documentation https://pypi.org/project/pycountry/ 
#Change US to USA 
confirmed_df.loc[confirmed_df['Country'] == 'US', 'Country'] = 'USA'
death_df.loc[death_df['Country'] == 'US', 'Country'] = 'USA'
covid19_country.loc[covid19_country['Country'] == 'US', 'Country'] = 'USA'

#Congo (Brazzaville) to Democratic Republic of Congo 
confirmed_df.loc[confirmed_df['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Democratic Republic of Congo'
death_df.loc[death_df['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Democratic Republic of Congo'
covid19_country.loc[covid19_country['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Democratic Republic of Congo'

#Congo (Kinshasa) to Democratice Republic of Congo 
confirmed_df.loc[confirmed_df['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of Congo'
death_df.loc[death_df['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of Congo'
covid19_country.loc[covid19_country['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of Congo'


#Change Korea, South to South Korea 
confirmed_df.loc[confirmed_df['Country'] == 'Korea, South', 'Country'] = 'South Korea'
death_df.loc[death_df['Country'] == 'Korea, South', 'Country'] = 'South Korea'
covid19_country.loc[covid19_country['Country'] == 'Korea, South', 'Country'] = 'South Korea'

#Remove the asterick from Taiwan* 
confirmed_df.loc[confirmed_df['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'
death_df.loc[death_df['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'
covid19_country.loc[covid19_country['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'

In [13]:
#Double Check to ensure changes 
death_df.loc[death_df['Country'] == 'USA']

,State,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
225,NaN,USA,37.0902,-95.7129,0,0,0,0,0,0,...,417,557,706,942,1209,1581,2026,2467,2978,3873

In [14]:
#Double Check to ensure changes 
death_df.loc[death_df['Country'] == 'Taiwan']

,State,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
207,NaN,Taiwan,23.7,121.0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,5,5

In [15]:
#pycountry provides the ISO databases for the standards countries 
confirmed_countries = np.asarray(confirmed_df['Country'])
death_countries = np.asarray(death_df['Country'])
global_countries = np.asarray(covid19_country['Country'])

#Match the continent code to the names 
continents = {
    'NA': 'North America',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    'EU' : 'Europe',
    'na' : 'Others'
}

In [16]:
#Define a function to get the code for each country 
def country_to_continent(country):
    try:
        return pyc.country_alpha2_to_continent_code(pyc.country_name_to_country_alpha2(country))
    except:
        return 'na'

In [17]:
# Collecting Continent Information

confirmed_df.insert(2,"Continent", [continents[country_to_continent(country)] for country in confirmed_countries[:]])
death_df.insert(2,"Continent",  [continents[country_to_continent(country)] for country in death_countries[:]])
covid19_country.insert(2,"Continent",  [continents[country_to_continent(country)] for country in global_countries[:]])

In [18]:
#Let check how many countries fall under the Others category
death_df[death_df['Continent'] == 'Others']

,State,Country,Continent,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
83,NaN,Democratic Republic of Congo,Others,-4.038300,21.758700,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84,NaN,Democratic Republic of Congo,Others,-4.038300,21.758700,0,0,0,0,0,...,1,1,2,2,3,3,6,6,8,8
86,NaN,Cote d'Ivoire,Others,7.540000,-5.547100,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
88,NaN,Diamond Princess,Others,0.000000,0.000000,0,0,0,0,0,...,8,8,10,10,10,10,10,10,10,10
127,NaN,Holy See,Others,41.902900,12.453400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236,NaN,Timor-Leste,Others,-8.874217,125.727539,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,NaN,West Bank and Gaza,Others,31.952200,35.233200,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
247,NaN,Kosovo,Others,42.602636,20.902977,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
248,NaN,Burma,Others,21.916200,95.956000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
252,NaN,MS Zaandam,Others,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#Looks like Democractic of Congo has two entries, drop index 83 since all zeros 

death_df = death_df.drop(index=83, axis=1)

In [20]:
death_df[death_df['Continent'] == 'Others']

,State,Country,Continent,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
84,NaN,Democratic Republic of Congo,Others,-4.038300,21.758700,0,0,0,0,0,...,1,1,2,2,3,3,6,6,8,8
86,NaN,Cote d'Ivoire,Others,7.540000,-5.547100,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
88,NaN,Diamond Princess,Others,0.000000,0.000000,0,0,0,0,0,...,8,8,10,10,10,10,10,10,10,10
127,NaN,Holy See,Others,41.902900,12.453400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236,NaN,Timor-Leste,Others,-8.874217,125.727539,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,NaN,West Bank and Gaza,Others,31.952200,35.233200,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
247,NaN,Kosovo,Others,42.602636,20.902977,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
248,NaN,Burma,Others,21.916200,95.956000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
252,NaN,MS Zaandam,Others,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Data Analysis

In [71]:
#Chart global reported cases since 4/1/2020

clean_covid19 = covid19_country.copy().drop(['Continent','Last_Update','Lat', 'Long_'], axis= 1)

global_cases_overview = pd.DataFrame(clean_covid19.sum())

global_cases_overview = global_cases_overview.rename(columns={0: 'Global COVID-19 Cases'})

global_cases_overview

           Global COVID-19 Cases
Confirmed                 932605
Deaths                     46809
Recovered                 193177
Active                    692619

In [73]:
continent_overview = covid19_country.drop(['Last_Update','Lat', 'Long_'], axis=1)
continent_overview = continent_overview.groupby(['Continent']).sum()
continent_overview.style.background_gradient(cmap= 'YlOrRd')

In [75]:
covid19_country.head()

,Last_Update,Continent,Lat,Long_,Confirmed,Deaths,Recovered,Active
Country,,,,,,,,
Australia,2020-04-01 22:04:58,Australia,-25.0000,133.0000,4862,20,422,4420
Austria,2020-04-01 21:58:34,Europe,47.5162,14.5501,10711,146,1436,9129
Canada,2020-04-01 22:04:44,North America,60.0010,-95.0010,9560,109,1324,8127
China,2020-04-01 14:00:34,Asia,30.5928,114.3055,82361,3316,76405,2640
Denmark,2020-04-01 21:58:34,Europe,56.0000,10.0000,3290,104,971,2215

In [85]:
#Let examine the cases by top 20 countries by number of confirmed cases 
countries_overview = covid19_country.drop(['Last_Update', 'Continent','Lat', 'Long_'], axis=1)
countries_overview[:20].sort_values('Confirmed', ascending=False).style.background_gradient(cmap='YlOrRd')

In [87]:
#Let examine the cases by top 20 countries by number of deaths
countries_overview[:20].sort_values('Deaths', ascending=False).style.background_gradient(cmap='YlOrRd')